configs/rclone.conf
bin/rclone/git-log.txt
bin/rclone/rclone
bin/rclone/rclone.1
bin/rclone/README.html
bin/rclone/README.txt
bin/restic/restic
libraries/__pycache__/__init__.cpython-310.pyc
libraries/__pycache__/AbstractProcessRunHandler.cpython-310.pyc
libraries/__pycache__/ResticInterface.cpython-310.pyc
libraries/__pycache__/SubprocessHandler.cpython-310.pyc
Servers/testServer/1GB.bin
Servers/testServer/awdaweadw
Servers/testServer/test1
